* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.container {
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-rows: 2fr 1fr 14fr 1fr;
  grid-template-columns: 1fr 6fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
}

.logo {
  justify-self: left;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / -2;
  display: grid;
  gap: 50px;
  grid-template-rows: repeat(4, 1fr);
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar div {
  display: grid;
  align-items: center;
  justify-content: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / -1;
  /* could you do this without making another grid just for centering? */
  display: grid;
  align-items: center;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-items: stretch;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 200px;
  grid-auto-rows: 200px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}